/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    padding: 30px 20px;
    margin: 0 auto;  
	
}
.text_sonng {
    height: 500px;
    display: block;
}